@import "react-quill/dist/quill.snow.css";
/* @tailwind base : reset CSS 포함 */
@tailwind base;
/* @tailwind components : 재사용할 CSS 규칙 */
@tailwind components;
/* @tailwind utilities : 유틸리티 클래스 로드 */
@tailwind utilities;

/* 폰트 설정 */
@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NEXON";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 기본 스타일 설정 */
@layer base {
  html,
  body {
    @apply max-w-full;
    -ms-overflow-style: none;
    /* IE와 Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  body {
    @apply antialiased text-gray-500 bg-background font-pretendard;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
  }

  :root {
    --toastify-color-info: #3498db;
    --toastify-color-success: #4cbfa4;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #d14343;
    --toastify-toast-min-height: 50px;
    --toastify-toast-offset: 0px;
  }
}

/* 포커스 스타일 */
:focus {
  @apply outline-green-200;
}

/* 공통 클래스 */
.divider {
  @apply w-full border border-gray-50;
}

/* 마이페이지 스타일 */
.mypage-input {
  @apply w-full h-[45px] py-[20px] px-[16px] rounded-xl bg-gray-50 text-sm;
}

.mypage-button {
  @apply mt-[16px] ml-auto px-[20px] py-[11px] text-sm font-bold text-gray-50 bg-green-200 rounded-[10px];
}

/* 에러 메시지 스타일 */
.errormessage {
  @apply pl-[8px] text-red-500 text-sm;
}

/* 섹션 패딩 스타일 */
.section-padding {
  @apply py-[100px] Tablet:py-[160px] PC:py-[200px];
}

/* 섹션 제목 스타일 */
.section-title {
  @apply font-bold text-green-200 text-[10px] leading-[11.5px] Tablet:text-[20px] Tablet:leading-[23px] PC:text-[30px] PC:leading-[34.5px];
}

/* 섹션 부제목 스타일 */
.section-subtitle {
  @apply text-gray-500 text-[16px] leading-[18.4px] Mobile:mt-[10px] Tablet:text-[32px] Tablet:leading-[36.8px] mt-[20px] PC:text-[50px] PC:leading-[57.5px];
}

/* 컴포넌트 스타일 */
@layer components {
  .section-padding {
    @apply py-[100px] Tablet:py-[160px] PC:py-[200px];
  }

  .section-title {
    @apply font-bold text-green-200 text-[10px] leading-[11.5px] Tablet:text-[20px] Tablet:leading-[23px] PC:text-[30px] PC:leading-[34.5px];
  }

  .section-subtitle {
    @apply text-gray-500 text-[16px] leading-[18.4px] Mobile:mt-[10px] Tablet:text-[32px] Tablet:leading-[36.8px] mt-[20px] PC:text-[50px] PC:leading-[57.5px];
  }
}

#toolBar {
  border: none;
  padding: 16px;
  font-family: "Pretendard", Helvetica, Arial, sans-serif;
  scrollbar-width: none;
}
#toolBar .ql-formats {
  margin: 0px;
}
#toolBar button {
  width: 28px;
  height: 28px;
  padding: 2px;
  opacity: 0.5;
}
#toolBar button:hover,
#toolBar button.ql-active {
  background: #e4e5f0;
  border-radius: 5px;
  opacity: 1;
}
#toolBar .ql-separator {
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: #e4e5f0;
}
#toolBar .ql-header {
  width: 80.36px;
  font-size: 16px;
  color: #00000060;
  font-weight: 600;
}
.ql-toolbar.ql-snow .ql-header.ql-picker.ql-expanded .ql-picker-label {
  border: none;
}
.quill .ql-container.ql-snow {
  border: 0;
}

/* editor 영역: placeholder랑 text 크기 동일하게 맞춤 */
.ql-container.ql-snow .ql-editor {
  padding: 0;
  height: 750px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  font-family: "Pretendard", "NEXON";
}

.ql-toolbar.ql-snow {
  border-radius: 21.5px;
}

/* placeholder영역 */
.ql-container.ql-snow .ql-editor.ql-blank {
  padding-top: 10px;
}

/* placeholder text style */
.ql-container.ql-snow .ql-editor.ql-blank::before {
  color: #c8cada;
  font-style: normal;
  left: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

#Quill .prose {
  margin-top: 0;
  margin-bottom: 0;
  a {
    color: #4cbfa4;
  }
  .ql-toolbar.ql-snow {
    border-radius: 21.5px;
  }
  .ql-align-center {
    text-align: center;
  }
  .ql-align-right {
    text-align: right;
  }
  :where(blockquote):not(:where([class~="not-prose"], [class~="not-prose"] *)),
  :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)),
  :where(h1):not(:where([class~="not-prose"], [class~="not-prose"] *)),
  :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)),
  :where(li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0;
    margin-bottom: 0;
  }
  :where(h2 + *):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 20px;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge, Opera에서 스크롤바 숨김 */
}

@media (max-width: 767px) {
  .ql-container.ql-snow .ql-editor {
    height: 600px;
  }

  .ql-container.ql-snow .ql-editor {
    font-size: 16px;
    line-height: 26px;
  }

  .ql-container.ql-snow .ql-editor.ql-blank::before {
    font-size: 16px;
    line-height: 26px;
  }
}
