@import "react-quill/dist/quill.snow.css";
/* @tailwind base : reset CSS 포함 */
@tailwind base;
/* @tailwind components : 재사용할 CSS 규칙 */
@tailwind components;
/* @tailwind utilities : 유틸리티 클래스 로드 */
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NEXON";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html,
  body {
    @apply max-w-full;
    -ms-overflow-style: none;
    /* IE와 Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  body {
    @apply antialiased text-gray-500 bg-background font-pretendard;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
  }

  :root {
    --toastify-color-info: #3498db;
    --toastify-color-success: #4cbfa4;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #d14343;
    --toastify-toast-min-height: 50px;
    --toastify-toast-offset: 0px;
  }

  #toolBar {
    border: none;
    padding: 16px;
    font-family: "Pretendard", Helvetica, Arial, sans-serif;

    scrollbar-width: none;
  }
  #toolBar .ql-formats {
    margin: 0px;
  }
  #toolBar button {
    width: 28px;
    height: 28px;
    padding: 2px;
    opacity: 0.5;
  }
  #toolBar button:hover,
  #toolBar button.ql-active {
    background: #e4e5f0;
    border-radius: 5px;
    opacity: 1;
  }
  #toolBar .ql-separator {
    display: inline-block;
    width: 2px;
    height: 20px;
    background-color: #e4e5f0;
  }
  #toolBar .ql-header {
    width: 80.36px;
    font-size: 16px;
    color: #00000060;
    font-weight: 600;
  }

  /* 이 아래는 적용이 안되는 스타일 */
  .quill .ql-container.ql-snow {
    border: 0;
    height: 540px;
  }

  .ql-container.ql-snow.ql-editor {
    border-style: none;
    font-size: 16px;
  }
}

@layer components {
  .section-padding {
    @apply py-[100px] Tablet:py-[160px] PC:py-[200px];
  }

  .section-title {
    @apply font-bold text-green-200 text-[10px] leading-[11.5px] Tablet:text-[20px] Tablet:leading-[23px] PC:text-[30px] PC:leading-[34.5px];
  }

  .section-subtitle {
    @apply text-gray-500 text-[16px] leading-[18.4px] Mobile:mt-[10px] Tablet:text-[32px] Tablet:leading-[36.8px] mt-[20px] PC:text-[50px] PC:leading-[57.5px];
  }
}

.quill .ql-container.ql-snow {
  border: 0;
}

.ql-container.ql-snow .ql-editor {
  padding-left: 0;
  min-height: 540px;
  font-size: 16px;
  font-family:"Pretendard","NEXON";
}

.ql-container.ql-snow .ql-editor.ql-blank::before {
  color: #c8cada;
  font-style: normal;
  left: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.ql-toolbar.ql-snow {
  border-radius: 21.5px;
}

