.container {
    width: 100vw;
    padding: 25px 80px;
    height: 80px;
    background-color: var(--gray-50);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navList {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    flex-grow: 1;
    gap: 40px;
    margin-right: 40px;
}

.navList ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navItem {
    font-size: 14px;
    color: var(--gray-400);
}

.login {
    font-size: 14px;
    height: 32px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 0 16px;
    background-color: var(--green-200);
    color: var(--gray-50);
    cursor: pointer;

    &:hover {
        /* global.css에 "green-50"으로 추가해야함. */
        background-color: rgb(108, 217, 191);
    }
}

.isActive {
    font-weight: bold;
}