.container {
    position: relative;
}

.input {
    padding: 8px 122px 8px 52px;
    border: none;
    border-radius: 10px;
    background-color: var(--gray-100);
    font-size: 14px;
    font-weight: 400;
    color: var(--gray-500);
}

.button {
    position: absolute;
    top: 10px;
    left: 15px;
    border: transparent;
    color: var(--gray-500);
    background-color: var(--gray-100);
    cursor: pointer;
}